<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Generated:http://localhost:8000/url/<%= id %></p>
    <% } %>
    <form method="post" action="/url">
      <label>
        Enter your original URL:
        <input 
        type="text" 
        placeholder="https://praveen.com"
        name="url"
        required
        />
        <button type="submit">
            Generate
        </button>
      </label>
    </form>
  </body>
</html>
